.common-transition {
  transition: all 0.5s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.index-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 140px;
  .common-transition;
  background-color: var(--articleBgColor);
  .article-title {
    .common-transition;
    text-align: center;
    font-size: var(--titleFontSize);
    color: var(--articleTextColor);
  }
  .article-author {
    .common-transition;
    margin-top: 16px;
    text-align: center;
    font-size: small;
    font-size: var(--authorFontSize);
    color: var(--articleTextColor);
  }
  .article-image {
    box-sizing: border-box;
    width: 100%;
    // height: 200px;
    padding: 32px;
    aspect-ratio: 16 / 9;
    .image {
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
  .article-content {
    .common-transition;
    padding: 32px;
    font-size: medium;
    font-size: var(--contentFontSize);
    color: var(--articleTextColor);
    .article-paragraph {
      text-indent: 4ch;
      margin-bottom: 32px;
      line-height: var(--contentLineHeight);
    }
  }

  .article-end {
    text-align: center;
    font-size: 24px;
    color: #999;
  }

  .bottom-nav {
    .common-transition;
    box-sizing: border-box;
    position: fixed;
    background-color: var(--articleBgColor);
    color: var(--articleTextColor);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 112px;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    .iconfont {
      .common-transition;
      color: var(--articleTextColor);
    }
    .rotate{
      animation: rotate 1s infinite;
    }
  }
  .drawer {
    .common-transition;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
    color: var(--textColor);
    .user-info {
      .common-transition;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--textColor);
      border-bottom: 1px solid var(--dividerColor);
      padding-top: 60px;
      padding-bottom: 40px;
      .user-img {
        width: 90px;
        height: 90px;
      }
      .user-name {
        .common-transition;
        font-size: 40px;
      }
      .reading-info {
        .common-transition;
        font-size: 24px;
      }
    }
    .menu-item {
      .common-transition;
      height: 80px;
      display: flex;
      align-items: center;
      color: var(--textColor);
      border-bottom: 1px solid var(--dividerColor);
      padding: 0 16px;
    }
  }
}
